<?php

// Constants
define("MAILMAN_BIN_PATH", "/usr/lib/mailman/bin/");

$config = array(
	"site" => array(
		"title" => "User Control Panel",
		"url" => "https://ucp.example.com",
		"path" => "/srv/www/ucp/htdocs"
	),
	"ldap" => array(
		"server" => "ldap://localhost/",
		"rdn" => "cn=ucp,ou=community,dc=nodomain",
		"pass" => '********',
		"base_dn" => "ou=accounts,ou=community,dc=nodomain",
	),
	"mysql" => array(
		"server" => "localhost",
		"user" => "root",
		"pass" => "anything92",
		"db" => "ucp",
	),
	"mail" => array(
		"from" => "no-reply@ucp.example.com",
		"verification_limit" => 86400 * 7,
		"lostpw_limit" => 86400 * 1,
	),
	"misc" => array(
		"secret" => "********", // Some secret string
		"singletonmail" => true, // Forbid multiple use of one mailaddress
	),
	"modules" => array(
		"login" => array(
			"title" => "Login",
			"force_notauthenticated" => true,
		),
		"lostpw" => array(
			"title" => "Passwort vergessen",
			"force_notauthenticated" => true,
		),
		"register" => array(
			"title" => "Registrieren",
			"force_notauthenticated" => true,
		),
		"home" => array(
			"title" => "Home",
			"force_authenticated" => true,
		),
		"profile" => array(
			"title" => "Profil",
			"force_authenticated" => true,
		),
		"lists" => array(
			"title" => "Mailinglisten",
			"force_authenticated" => true,
			"force_verified" => true,
		),
		"logout" => array(
			"title" => "Logout",
			"force_authenticated" => true,
		),
		"verify" => array(
			"title" => "Verifizierung",
			"hide_navigation" => true,
		),
	),
	"mailinglists" => array(
	)
);

?>
