* {
	margin: 0em;
}

body {
	background-color: #aaaaaa;
	font-family: Sans-serif;
	font-size: 0.8em;
	text-align: center;
}

div#maincontainer {
	width: 800px;
	background-color: white;
	margin: 0px auto;
	text-align: left;
	padding: 1em;
	border:0.3em solid #666666;
	border-top:0em;
	-moz-border-radius-bottomleft:1.5em;
	-moz-border-radius-bottomright:1.5em;
	-khtml-border-radius-bottomleft:1.5em;
	-khtml-border-radius-bottomright:1.5em;
}

div#navigation {
	background-color: #666666;
	border-top: 0.2em solid #aaaaaa;
	border-bottom: 0.2em solid #aaaaaa;
	margin: 0.25em -1em;
	padding: 0.25em 0.5em;
}
div#navigation a {
	font-weight:bold;
	font-size:1.2em;
	color: white;
	text-decoration: none;
}

div#navigation a:hover {
	color: #f7931e;
}

div#navigation a.active {
	text-decoration: underline;
}

div#content {
	margin-top: 8px;
}

table.profile a {
	text-decoration: none;
	font-weight: bold;
	font-size: 0.8em;
}

form.change_mail table, form.change_password table, form.delete_mail table,
 form.login table, form.lostpw table, form.register table {
	background-color: #eeeeee;
}

form.change_mail table th, form.change_password table th, form.delete_mail table th,
 form.login table th, form.lostpw table th, form.register table th, table.profile th {
	font-size:1.2em;
	vertical-align:top;
	width:200px;
	padding-right:8px;
}

form.lists table {
	width:100%;
	border-collapse:collapse;
}
form.lists table thead tr {
	font-size:1.2em;
	border-bottom:2px solid black;
}
form.lists table tfoot tr {
	font-size:1.2em;
	border-top:2px solid black;
}
form.lists table tr * {
	padding:0.1em 0.1em;
}
form.lists table tr.odd {
	background-color:#cccccc;
}
form.lists table tr.even {
	background-color:#eeeeee;
}
form.lists table th.listname {
	width:200px;
}
form.lists table th.abo {
	width:150px;
}

p {
	padding-bottom: 8px;
}

table input {
	float:right;
}
