* {
	margin: 0em;
}

body {
	background-color: #aaaaaa;
	font-family: Sans-serif;
	font-size: 0.8em;
	text-align: center;
}

div#maincontainer {
	width: 800px;
	background-color: white;
	margin: 0px auto;
	text-align: left;
	padding: 1em;
	border:0.3em solid #666666;
	border-top:0em;
	-moz-border-radius-bottomleft:1.5em;
	-moz-border-radius-bottomright:1.5em;
	-khtml-border-radius-bottomleft:1.5em;
	-khtml-border-radius-bottomright:1.5em;
}

div#navigation {
	background-color: #666666;
	border-top: 0.2em solid #aaaaaa;
	border-bottom: 0.2em solid #aaaaaa;
	margin: 0.25em -1em;
	padding: 0.25em 0.5em;
}
div#navigation a {
	font-weight:bold;
	font-size:1.2em;
	color: white;
	text-decoration: none;
}

div#navigation a:hover {
	color: #f7931e;
}

div#navigation a.active {
	text-decoration: underline;
}

div#content {
	margin-top: 8px;
}

table.profile a {
	text-decoration: none;
	font-weight: bold;
	font-size: 0.8em;
}

form.add_mail table, form.change_password table, form.delete_mail table,
 form.login table, form.lostpw table, form.register table {
	background-color: #eeeeee;
}

form.add_mail table th, form.change_password table th, form.delete_mail table th,
 form.login table th, form.lostpw table th, form.register table th, table.profile th {
	font-size:1.2em;
	vertical-align:top;
	width:200px;
	padding-right:8px;
}

table.lists,
table.userlist {
	width:100%;
	border-collapse:collapse;
}
table.lists thead tr,
table.userlist thead tr {
	font-size:1.2em;
	border-bottom:2px solid black;
}
table.lists tfoot tr,
table.userlist tfoot tr {
	font-size:1.2em;
	border-top:2px solid black;
}
table.lists td,
table.userlist td {
	padding:0.1em;
}
table.lists tr.odd,
table.userlist tr.odd {
	background-color:#cccccc;
}
table.lists tr.even,
table.userlist tr.even {
	background-color:#eeeeee;
}

table.lists th.listname {
	width:200px;
}
table.lists th.abo {
	width:150px;
}

table.userlist th.bulk {
	width:20px;
}
table.userlist th.delete {
	width:50px;
}

p {
	padding-bottom: 8px;
}

table input.submit {
	float:right;
	text-align:right;
}
